<loader *ngIf="!user"></loader>

<div *ngIf="user" class="view-container">
  <div class="user-data">
    <mat-icon>email</mat-icon>
    <mat-form-field>
      <input type="email" matInput required [disabled]="!user.isNew" placeholder="Email" [(ngModel)]="user.email" (change)="onChange()">
    </mat-form-field>
  </div>

  <div class="user-data">
    <mat-icon>person</mat-icon>
    <mat-form-field>
      <input matInput placeholder="Naam" [disabled]="!user.canChange || user.isNew" [(ngModel)]="user.name" (change)="onChange()">
    </mat-form-field>
  </div>

  <div class="user-data">
    <mat-icon>assignment_ind</mat-icon>
    <mat-form-field>
      <mat-select placeholder="Rol" [(ngModel)]="user.roles" [disabled]="!user.canChange || user.isNew" multiple (change)="onChange()">
        <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="user-data" *ngIf="userHasRole('coach/scout')">
    <mat-icon>group</mat-icon>
    <mat-form-field>
      <mat-select placeholder="Coach van" [(ngModel)]="user.teams" [disabled]="!user.canChange || user.isNew" multiple (change)="onChange()">
        <mat-option *ngFor="let team of teams" [value]="team.teamId">{{team.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="user-data" *ngIf="userHasRole('coach/scout')">
    <mat-icon>thumbs_up_down</mat-icon>
    <mat-form-field>
      <mat-select [disabled]="true" placeholder="Scout van" [(ngModel)]="user.scouts" [disabled]="!user.canChange || user.isNew" multiple (change)="onChange()">
        <mat-option *ngFor="let team of teams" [value]="team.teamId">{{team.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="user-data">
    <mat-icon>label</mat-icon>
    <mat-checkbox [(ngModel)]="user.isActive" [align]="start" [disabled]="!user.canChange || user.isNew" class="user-active" (change)="onChange()">Actief</mat-checkbox>
  </div>
</div>