@import '~@angular/material/theming';
@import '~styles/theming';

.review-header {
  display: flex;
  margin: 16px;
  align-items: center;

  .image-background {
      display: flex;
      padding: 2px;
      background-color: grey;
      border-radius: 50%;
      margin-right: 24px;

    .profile-picture {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
  }


  .profile-picture {
      border-radius: 50%;
      height: 128px;
      width: 128px;
  }
}

.title {
    margin: 8px;
}

.rating-options {
    display: flex;
    flex-direction: column;

    .rating-button {
        margin: 8px;
        min-height: 48px;
        background-color: transparentize(mat-color($primary), 0.5); // #ff980080;

        &.selected {
          background-color:  mat-color($primary);

        }
    }
}

  .submit-review {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 24px;

      button {
          min-height: 48px;
      }
  }

  .category-header {
      display: flex;

      .no-score {
        font-style:italic;
      }

      .truncate {
        max-width: 200px;
      }
  }

  .notes {
    width: 100%;
  }

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 1;
}

.example-headers-align .mat-expansion-panel-header-description {
  flex-grow: 0;
}

