@import '~@angular/material/theming';
@import '~styles/theming';

:host {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.profile-header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: mat-color($primary);
    padding-bottom: 8px;
    height: 196px;

    .profile-center {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;

        .review-button {
            background-color: #eee;
        }

        .hidden-button {
            visibility: hidden;
        }

        .image-background {
            display: flex;
            padding: 4px;
            background-color: white;
            border-radius: 50%;
            box-shadow: white 0px 0px 48px;
            margin:16px;
            .profile-picture {
                border-radius: 50%;
                height: 128px;
                width: 128px;
            }
        }
    }
    

    .profile-data {
        color: white;
        text-align: center;

        .profile-name {
            font-size: 21px;
        }
    }
}

.player-details {
    .mat-tab-list {
        .mat-tab-label {
            flex-basis: 0;
            flex-grow: 1;
            padding: 0;
        }
      }

      .player-details-tab {

        padding-left: 16px;
        padding-right: 16px;

          .player-detail {
              width: 100%;
              display: flex;
              justify-content: space-between;
          }

          .player-history {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              margin-top: 16px;
              padding-bottom: 16px;
              border-bottom: 1px solid #ddd;

              .event {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  .team {
                    font-weight: bold;
                  }

                  .date {
                      font-size: 11px;
                      color: grey;
                      margin-top: 4px;
                  }
              }
          }

          .player-details {
              border-bottom: 1px solid #ddd;
              margin-top: 16px;
            }
            
          .reviews, .player-details {
            margin-bottom: 16px;
              .reviews-title {
                color: grey;
                font-size: 13px;
              }

              .no-reviews {
                  display: flex;
                  color:grey;
                  margin-top:24px;
                  align-items: center;
                  flex-direction: column;
                  text-align: center;
              }

              .review {
                  display: flex;
                  margin: 8px;
                  margin-top: 16px;
                  margin-bottom: 16px;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;

                  .review-date {

                  }

                  .review-user {
                      font-size: 12px;
                      color: grey;
                  }

                  .no-team {
                      font-style: italic;
                      color: grey;
                  }
              }
          }
      }
}