:host {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.profile-header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #cccccc;
    padding-bottom: 8px;
    
    .profile-picture {
        box-shadow: white 0px 0px 48px;
        margin:16px;
        border-radius: 50%;
        margin-right: 16px;
    }

    .profile-data {
        color: white;
        text-align: center;

        .profile-name {
            font-size: 21px;
        
        }
        
        .profile-email {
        
        }
    }
}

.player-details {
    .mat-tab-list {
        .mat-tab-label {
            flex-basis: 0;
            flex-grow: 1;
            padding: 0;
        }
      }

      .player-details-tab {

        padding-left: 16px;
        padding-right: 16px;

          .player-detail {
              width: 100%;
              display: flex;
              justify-content: space-between;
          }

          .player-history {
              display: flex;
              flex-direction: row;
              justify-content: space-around;

              .event {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  .team {
                    font-weight: bold;
                  }

                  .date {
                      font-size: 11px;
                      color: grey;
                      margin-top: 4px;
                  }
              }
          }
      }
}