<mat-toolbar color="primary">
    <button mat-icon-button *ngIf="auth.isAuthenticated()" type="button" (click)="navClicked()">
        <mat-icon aria-label="back">{{canNavigateToParent ? 'arrow_back' : 'menu'}}</mat-icon>
    </button>
    <div class="toolbar-text">
        <span class="truncate">CKV Oranje Wit - TalentTrack</span>
    </div>
    <button *ngIf="auth.isAuthenticated()" mat-icon-button type="button" [matMenuTriggerFor]="more_menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #more_menu="matMenu">
        <button mat-menu-item (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Uitloggen</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>insert_emoticon</mat-icon>
            <span>Wereldvrede</span>
        </button>
    </mat-menu>
</mat-toolbar>
<main [@routerAnimation]="getRouteAnimation(route)">
    <router-outlet #route="outlet"></router-outlet>
</main>
<ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>