<mat-toolbar color="primary">
    <button class="hamburger hamburger--arrowturn" type="button" [class.is-active]="canNavigateToParent" (click)="navClicked()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="toolbar-text">
        <span>CKV Oranje Wit - TalentTrack</span>
    </div>
</mat-toolbar>
<main [@routerAnimation]="getRouteAnimation(route)">
    <router-outlet #route="outlet"></router-outlet>
</main>
<ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>