mat-toolbar {
    color: white !important;
    padding-left: 0px;
    padding-right: 0;

    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    box-shadow: 0 1px 5px 0 rgba(127,127,127,.3);

    .toolbar-text {
        width: 100%;
        display: flex;
        justify-content: center;
        min-width: 0px;
        font-size: 18px;
    }
}

/deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: calc(100vh - 56px); // full height minus the height of the toolbar
}