.filter-box {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;

    display: flex;
    align-items: center;

    height: 32px;

    .search-icon {
        margin-right: 16px;
        color: grey;
    }

    button {
        color: grey;
    }

    input {
        border: none;
        width:100%;
        outline: none;
        font-size: 16px;
    }
}

.player-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    
    .player-profile-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        
        img {
            border-radius: 50%;
            margin-right: 24px;
        }
    }

    .player-additional-text {
        color:grey;
        font-size: 14px;
    }
}