<div class="title">Beoordeling voor speler {{player.name}}</div>

<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Scoren">
    <div class="title">Hoe goed is {{player.name}} in scoren?</div>
    <div class="rating-options">
      <button mat-raised-button color="primary">Uitmuntend</button>
      <button mat-raised-button color="primary">Goed</button>
      <button mat-raised-button color="primary">Gemiddeld</button>
      <button mat-raised-button color="primary">Zwak</button>
      <button mat-raised-button color="primary">Slecht</button>
    </div>
  </mat-tab>
  <mat-tab label="Overspelen"></mat-tab>
  <mat-tab label="Vrijstaan"></mat-tab>
  <mat-tab label="Aanvallen"></mat-tab>
  <mat-tab label="Verdedigen"></mat-tab>
</mat-tab-group>