@import './theming.scss';

html, body {
    margin: 0;
    font-family: "Roboto";
    height: 100%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// setup a class that overrides some default styles for a mat-dialog
.full-width-dialog .mat-dialog-container {
    padding: 0;
}