@import '~@angular/material/theming';
@include mat-core();
//-------------------------------------------------------------------------------------------------------
// DEFINING THE BASE THEMING
//-------------------------------------------------------------------------------------------------------
$primary: mat-palette($mat-orange, 500);
$accent: mat-palette($mat-grey, 500);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
$dark-theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);